@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap");

* {
  font-family: "Dongle", sans-serif;
}

.diaryContainer {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.diaryInner {
  margin-bottom: 50px;
}

.diaryTitle {
  text-align: center;
  color: rgb(173, 173, 173);
  font-family: "Dongle", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.diaryContent {
  padding: 5px 24px;
  font-size: 24px;
}

#imgUploadBtnSpan {
  font-family: "Dongle", sans-serif;
  font-size: 18px;
}

#thumbnailImg {
  margin-top: 12px;
  border-radius: 8px;
  object-fit: cover;
}

#title {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 100%;
}

#title:focus {
  outline: none;
}

#content {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 100%;
}

#content:focus {
  outline: none;
}

#BtnContainer {
  display: flex;
  justify-content: center;
}
