@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap");

* {
  font-family: "Dongle", sans-serif;
}

.diaryContainer {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.diaryTitle {
  text-align: center;
  color: rgb(173, 173, 173);
}
